
title{
   color: blue;
 }
h1{ color: midnightblue;
              box-shadow: black;
                margin-right: 15cm;  
            
}
p{
                color: green;
                border: 14cm;
 }